<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LptPrnControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ComPrnControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <LptPrnControl.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="Codepages_list" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
            <setting name="checkBox_hexCommand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_command" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_hexParam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_param" serializeAs="String">
                <value />
            </setting>
            <setting name="LineBreakTimeout" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogLinesLimit" serializeAs="String">
                <value>100</value>
            </setting>
        </LptPrnControl.Properties.Settings>
        <ComPrnControl.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="rxBuffer" serializeAs="String">
                <value>81960</value>
            </setting>
            <setting name="ReceiveTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SendTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Codepages_list" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
            <setting name="LineBreakTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="checkBox_hexCommand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_command" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_hexParam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_param" serializeAs="String">
                <value />
            </setting>
        </ComPrnControl.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
